body,
html {
  height: 100%;
  margin: auto;
  background-color: aquamarine;
}

.section {
  background-color: aquamarine;
}

.state-section {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.title {
  border: none !important;
}

.map-section {
  width: 100%;
}

.box-section {
  border: 1px solid black;
}


.bg-img {
  background-image: url("../images/luca-calderone-t_E188mzjvU-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.divided-section {
  width: 100%;
  display: flex;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
  background-color: white;
}

.section-1 {
  width: 50%;
}

.section-2 {
  width: 50%;
}

.saved-searches {
  border: none !important;
  color: #363636 !important;
  font-weight: 600 !important;
  background: none !important;
  font-size: 2rem !important;
}

.park-card {
  border: 2px solid #000000;
  margin: 10px;
  padding: 10px;
  width: 45%;
  background-color: #fcfcf4;
  border-radius: 10px
}

.detailed-card h1 {
  font-size: 300%;
  font-weight: bold;
  margin: 10px;
}

.detailed-card {
  border: 2px solid #000000;
  margin: 10px;
  padding: 10px;
  width: 95%;
  background-color: #fcfcf4;
  border-radius: 10px
}

.detailed-card h3 {
  font-size: 125%;
  font-weight: bold;
  margin: 10px;
}

.detailed-card p {
  margin: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detailed-card ul {
  font-weight: bold;
  margin-left: 10px;
}

.detailed-card li {
  list-style-type: circle;
  margin-left: 50px;
}

.detailed-card p {
  margin-top: 20px;
}


/* FOR TABLETS/MEDIUM DEVICES */


@media (max-width: 992px) {

  .state-section {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  
  .is-size-4 {
    width: 100%;
    text-align: center;
  }

  .is-one-third {
    width: 100%:
  }

  .divided-section {
    flex-direction: column;
  }

  .section-1 {
    width: 100%;
  }

  .section-2 {
    width: 100%;
  }

  .park-card {
    width: 100% !important;
  }

  #map {
    height: 500px !important;
  }

}


/* FOR SMALL PHONES/DEVICES */

@media (max-width: 576px) {
  
  .state-section {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  
  .is-size-4 {
    width: 100%;
    text-align: center;
  }

  .is-one-third {
    width: 100%:
  }

  .divided-section {
    flex-direction: column;
  }

  .section-1 {
    width: 100%;
  }

  .section-2 {
    width: 100%;
  }

  .park-card {
    width: 100% !important;
  }

  #map {
    height: 500px !important;
  }

}